FlySmart/build

.metadata

.metadata/.lock

.metadata/.log

*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/83/007b029e9e9f00151450e8968bd0d46b

*.snap

*.index

*.resources

*.prefs

*.launch

*.xml

*.xmi

*.fdt

*.fdx

*.fnm

*.frq

*.nrm

*.gen

*.lock

*.ini

*.tii

*.tis

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.txt

*.dat

*.setup

*.log

*.mark

Servers/.project

*.policy

*.properties

RemoteSystemsTempFiles/.project

FlySmart/.classpath

FlySmart/src/.DS_Store

FlySmart/WebContent/.DS_Store

FlySmart/build/classes/flight/.DS_Store

*.class

*.class

*.class

*.class
